.landing-wrap {
  min-height: 100vh;
  background: linear-gradient(135deg, #6a5af9, #4facfe);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      font-size: 2rem;
    }
    .nav-links {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.8;
        }

        &.highlight {
          font-weight: 600;
        }
      }

      span {
        font-size: 0.85rem;
        opacity: 0.7;
      }
    }
  }

  .hero {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1100px;
    width: 100%;

    .hero-left {
      flex: 1;

      h1 {
        font-size: 3rem;
        line-height: 1.2;

        .bold {
          font-weight: 700;
        }

        .accent {
          color: #f9735b; // orange accent
          font-weight: 600;
          margin-left: 0.5rem;
        }
      }

      .cta {
        margin-top: 2rem;
        padding: 0.75rem 2rem;
        border-radius: 9999px;
        border: none;
        background: #fff;
        color: var(--primary-color);
        font-weight: 600;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:hover {
          background: #f1f5f9;
        }
      }
    }

    .hero-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .circle {
        background: #fff;
        border-radius: 50%;
        padding: 2rem;
        margin-bottom: 1rem;

        img {
          width: 120px;
          height: auto;
        }
      }

      h2 {
        font-size: 1.8rem;
        margin: 0.5rem 0;
        font-weight: 700;
      }

      p {
        font-size: 0.9rem;
        opacity: 0.8;
      }
    }
  }
}

// Login comp

.login-container {
  width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 background: linear-gradient(to bottom, white,rgb(235 235 235 / 66%));
 

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    button {
      color: var(--primary-color);
    }
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}

.login-wrap {
//  background-image: url("/assets/images/bg1.jpg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
}
