.login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
 

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}

.login-wrap {
 background-image: url("/assets/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
